@import "../colors";
@import "../breakpoints";
@import "../typography";

.downloads {
    width:100%;
    min-height:50vh;
    padding:var(--vertical) 0 var(--vertical) var(--horizontal);
    background:$light-blue;
    overflow:hidden;
    position:relative;

    .download_link {
        color:$blue;
        text-decoration: none;
        font-size:1.4rem;
        font-weight: 300;
        transition: color .5s ease;
        display:block;
        margin-bottom:20px;

        svg {
            margin-right:20px;
            margin-top:4px;
            
            path {
                fill:$blue;
                transition: fill 1s ease;              
            }

            @include small-phone  {
                margin-right:10px;
                width:15px;
                height:15px;
            }
        }

        &:hover {
            color:$orange;
            transition: color .5s ease;

            svg {
                path {
                    fill:$orange;
                    transition: fill .5s ease;
                }
            }
        }

        @include small-phone  {
            font-size:$small-p;
            font-weight:400;
        }
    }
}

.file_wrap {
    display:flex;
    margin-top:2vw;
    z-index:10;
    position: relative;

    @include large-phone  {
        display:block;
    }
}

.planning {
    margin-left:var(--horizontal);

    @include large-phone  {
        margin-left:0;
        margin-top:var(--vertical);
    }
}

.header {
    z-index:10;
    position: relative;
}

.subheader {
    font-size:1.3rem;
    margin-bottom:30px; 
    
    @include small-phone  {
        margin-top:20px; 
    }
}

.wave {
    position:absolute;
    left:-25%;
    top:3vw;
    z-index:0;

    svg {
        path {
            fill:$blue;
            opacity:.04;
        }
    }
}
