@import "../colors";
@import "../breakpoints";
@import "../typography";

.form_block {
    margin:var(--vertical-s) var(--horizontal) var(--vertical) var(--horizontal);
    max-width:50vw;
    
    @include large-laptop  {
        max-width:60vw;
    }

    @include small-laptop  {
        max-width:80vw;
    }

    @include large-phone  {
        max-width:90vw;
    }

    label {
        margin:30px 0 0 4px;
        font-size:1.2rem;
    }

    input, textarea {
        display:block;
        margin:10px 0 30px 0;
        width:90%;

        @include large-phone  {
            width:100%;
        }

    }

    .ratingLabel {
        font-weight:400;
        display:block;
        font-size:1.4rem;
    }

    .rating_wrap {
        display:flex;
        
        @include large-phone  {
            display:block;                
        } 

        .rating {
            margin-top:10px;
            margin-bottom:40px;
            color:$blue;
    
            label {
                font-size:3rem;
            }
        }
    
        .ratingText {
            color:$orange;
            font-size:1.3rem;
            font-weight:400;
            font-style: italic;
            margin:50px 0 0 25px;

            @include large-phone  {
                margin:0 0 25px 0;
                display: inline-block;              
            } 
    
        }
    }

    

    .fullname {
        margin-top:30px;
        display:flex;
        width:90%;

        @include large-phone  {
            display:block;
            width:100%;                
        }

        span {
            width:49%;
        }

        span:nth-of-type(2) {
            margin-left:1%;
        }

        input {
            width:100%;
        }

        .achternaam {
            margin-left:2%;

            @include large-phone  {
                margin-left:0;                
            }
        }

    }

    .email_uitleg {
        font-size:.9rem;
        font-style: italic;
        margin:0 0 20px 4px;
    }

    .email {
        margin-bottom:5px;
    }

    .signup_btn {
        margin-top:30px;
    }

    .checkbox {
        display:block;
        margin-top:30px;
    }

    .checkboxLabel {
        cursor: pointer;

        .checkboxLabelLink {
            margin-left:5px;
        }
    }


    input, textarea {
        border:1px solid $light-blue;
        padding:15px 20px;
        border-radius:3px;
        font-weight:400;
        color:$blue;
        background:$white;
        box-shadow: inset 2px 2px 2px rgba(28, 104, 185, 0.04);
    }
    
      input:focus, textarea:focus, input:active, textarea:active, input::selection, textarea::selection {
        border:1px solid darken($light-blue, 5%);
        box-shadow: inset 2px 2px 2px rgba(28, 104, 185, 0.06);
        outline: none;
    } 
    
}

.signup_btn {
    border:0;
    background:$orange;
    color:$white;
    font-weight:400;
    font-size:1.4rem;
    padding:13px 60px;
    border-radius: 50px;
    cursor: pointer;
    transition: background .5s ease;

    &:hover {
        background:$blue;
        transition: background .5s ease;
    }
}

