@import "../colors";
@import "../breakpoints";
@import "../typography";

.header {
    background:$white;
    width:100%;
    height:100px;
    box-shadow:$shadow-grey;
    z-index:100;

    @include large-laptop  {
        height:80px;
    }
    
    .mainnav {
        font-size:1.2rem;
        //animation: fadein 3s;
        //float:right;   
        display:flex;
        justify-content:flex-end;     
       
        .link {
            text-decoration: none;
            display:inline;
            line-height:100px;
            color:$blue;
            margin:0 30px;

            @include large-laptop  {
                margin:0 20px;
            }
           
            &:hover {
                text-decoration:underline;
                text-decoration-thickness: 0.2em;
                text-underline-offset: 0.3em;
                text-decoration-color: $light-blue;
            }

            @include large-laptop  {
                line-height:80px;
            }

        }

        .link_with_submenu {
            z-index:200;
            position:relative;
            margin:0;            
            height:100px;
            display:inline-block;

            @include large-laptop  {
                height:80px;
            }

        }

        .submenu {
            background:$white;
           
            width:370px;
            position:absolute;
            margin:0 0 0 -15px;            
            z-index:100;
            padding:0 20px 20px 20px;
            //box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.15);
            
            visibility: hidden;
            opacity: 0;
            transition-property: opacity, visibility;
            transition-duration: 1s, 0s;
            transition-delay: 0s, 1s;
                        
            .link {
                display:block;
                border-top:1px solid $light-blue;
                text-decoration:none;
                background-color:$white;
                padding:25px;
                margin:0;
                line-height:100%;
                transition: background-color .5s ease;

                &:hover {
                    background-color:$light-blue;
                    transition: background-color .5s ease;
                }
            }

 

            .main_link {
                text-decoration: none;
                display:inline-block;
                height:40px;
                color:$blue;
                border:0;
               
                &:hover {
                    background:none;
                    text-decoration:underline;
                    text-decoration-thickness: 0.2em;
                    text-underline-offset: 0.3em;
                    text-decoration-color: $light-blue;
                }
            }

            .link[aria-current="page"] {
                text-decoration:none;
            }
                
        }

        .link_with_submenu:hover {

            .submenu {
                visibility: visible;
                opacity: 1;
                transition-delay: 0s, 0s;
            }

        }
        
        .link[aria-current="page"]{
            text-decoration:underline;
            text-decoration-thickness: 0.2em;
            text-underline-offset: 0.3em;
            text-decoration-color: $light-blue;
        }

        .button[aria-current="page"] {
            text-decoration: none;
        }

        .button {
            background:$orange;
            border-radius:30px;
            color:$white;
            margin-top:25px;
            padding:0 40px;
            height:50px;
            line-height: 50px;
            display:inline-block;
            transition: background-color .5s ease;

            @include large-laptop  {
                margin-top:15px;
            }

            @include small-laptop  {
                display:none;
            }
        
            &:hover {
                text-decoration: none;
                color:$white;
                background:$blue;
                transition: background-color 1s ease;
            }
        
            &:visited {
                color:$white;
            }
        
  
        }
        
        .ChevronIcon {
        
            svg {
                width:8px;
                height:10px;
                margin-left:10px;
                transform: rotate(90deg)
            }
        }

        @include small-laptop  {
            display:none;                
        }    

    }
}

.logo {
    position:absolute;
    margin-left:var(--horizontal);
    margin-top:-60px;
    z-index:100;
    box-shadow:$shadow-grey;
    width:136px;
    height:136px;
    //animation: fadein 1s;

    @include large-laptop  {
        width:120px;
        height:120px;
    }

    @include small-phone  {
        width:110px;
        height:110px;
    }

    svg {
        width:136px;
        height:136px;

        @include large-laptop  {
            width:120px;
            height:120px;
        }

        @include small-phone  {
            width:110px;
            height:110px;
        }
    }
    
}

.hamburger {
    color:$blue;    
    cursor: pointer;
    line-height:80px;
    display:none;
    position:absolute;
    right:var(--horizontal);
    top:3px;
    font-size:1.3rem;
    
    @include small-laptop  {
        display:inline;
    }

    svg {
        margin-right:10px;

        path {
            fill:$blue;
            transition: fill .5s ease;
        }
    }

    &:hover {
        text-decoration: none;
        transition: color 1s ease, color .5s ease;
        color:$orange;

        svg {
            path {
                fill:$orange;
                transition: fill 1s ease;
            }
        }
    }
}