@import "../colors";
@import "../breakpoints";
@import "../typography";

.hero_normaal {
    background:$blue;
    width:100%;
    height:100vh;
    display:block;
    position:relative;

    @include large-laptop  {
        height:calc(100vh - 80px);
    }

    @include small-height  {
        height:calc(250vh - 80px);
    }

    .heroimage {
        width:100%;
        height:100vh;
        display:flex;
        align-items: center;
        //justify-content: center;
        z-index:1;
        background-position: top;

        @include large-laptop  {
            height:calc(100vh - 80px);
        }

        @include small-height  {
            height:calc(250vh - 80px);
        }
    }    

    .banner {
        display:flex;
        
        @include small-laptop {
            display:none;
        }

        color:$white;
        background:$orange;
        position:absolute;
        top:20vh;
        right:20vw;
        
        width:15vw;
        height:15vw;
        min-width:200px;
        min-height:200px;
        max-width:250px;
        max-height:250px;
        border-radius: 50%;
        text-align: center;

        transform:rotate(4deg);
        
        flex-direction: column;
        align-items: center; 
        justify-content: center; 

        .inschrijven {
            margin: 8px 0 0 0;
            font-size:calc(1.3rem + .2vw);
        }
        .vanaf {
            margin: 2px 0 0 0;
            line-height:100%;
            font-size:calc(1.3rem + .2vw);
            
        }
        .maand {
            margin: 3px 0 0 0;
            line-height:100%;
            font-size:calc(2rem + .2vw);
            font-weight:600;
        }
        .jaar {
            margin: 0;
            line-height:100%;
            font-size:calc(2rem + .2vw);
            font-weight:600;
        }
    }
   
    .textwrap {
        margin:10vh 0 0 var(--horizontal);
        color:$white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        
        .header{
            font-weight:900;
            font-size:6.5vw;
            margin-bottom:10px;
            line-height:130%;

            @include small-laptop  {
                font-size:6rem;
            }

            @include phone  {
                font-size:17vw;
                margin:0;
            }

            @include small-phone  {
                font-size:16vw;
                
            }
    
        }

        .subheader{
            font-weight:100;
            font-size:5.5vw;
            //margin-bottom:20px;

            @include small-laptop  {
                font-size:5rem;
            }

            @include phone  {
                font-size:15vw;
                margin:0;
            }

            @include small-phone  {
                font-size:14vw;
               
            }
        }
        
        .description{
            font-weight:300;
            font-size:1.4rem;
            width:32vw;
            margin-bottom:50px;

            @include large-laptop  {
                margin-bottom:40px;
                width:50vw;
            }

            @include small-laptop  {
                width:70vw;
                margin-bottom:60px;
            }

            @include phone  {
                font-size:1.2rem;
                width:85vw;
                margin:10px 0 0 0;
            }

            @include small-phone  {
                font-size:1.1rem;
                font-weight:400;
            }

        }
    }   

    .logo_elburg {

        @include phone  {
            width:90px;
        }

        @include small-phone  {
            width:80px;
        }

    }
    
    
    
}


.hero_minimaal {
    background:$blue;
    width:100%;
    height:100vh;
    display:block;
    position:relative;

    @include large-laptop  {
        height:calc(100vh - 80px);
    }

    @include small-height  {
        height:calc(250vh - 80px);
    }

    .heroimage {
        width:100%;
        height:100vh;
        display:flex;
        align-items: center;
        //justify-content: center;
        z-index:1;
        background-position: top;

        @include large-laptop  {
            height:calc(100vh - 80px);
        }

        @include small-height  {
            height:calc(250vh - 80px);
        }
    }    
   
    .textwrap {
        color:$white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position:absolute;
        margin:0 0 0 var(--horizontal);
        bottom:10vw;
            
        .header{
            font-weight:900;
            font-size:6.5vw;
            line-height:130%;

            @include small-laptop  {
                font-size:6rem;
            }

            @include phone  {
                font-size:18vw;
                line-height:100%;
                margin-bottom:20px;
            }

            @include small-phone  {
                font-size:16vw;
            }
    
        }

        .subheader{
            font-weight:100;
            font-size:3.7vw;
            width:38vw;
            line-height:130%;

            @include small-laptop  {
                font-size:5vw;
                width:60vw;            
            }

            @include phone  {
                font-size:9vw;
                width:88vw;
            }

        
        }        

    }

    .logo_elburg {

        @include small-phone  {
            width:90px;
        }

    }
    
    .page_menu {
        background:$white;
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.15);
        width:84vw;
        margin-left:var(--horizontal);
        position:absolute;
        bottom:-3vw;
        padding:2vw 1vw;
        display:flex;
        justify-content:space-evenly;
        font-size:1.4rem;

        @include small-laptop  {
            display:none;
        }
        
        a {
            color:$blue;
            text-decoration: none;
            padding:15px 40px;
            border-radius:30px; 
            transition: background .5s ease;

            &:hover {
                background:$light-blue;
                transition: background 1s ease;
            }
        }

    }
    
}


.ArrowDownIcon {
    left:50vw;
    margin-left:-20px;
    display:block;
    position:absolute;
    animation: arrowdown 3s infinite;

    svg {
        width:25px;
    }
}
