@import "../colors";
@import "../breakpoints";
@import "../typography";


.ontwerp_map {
    width:100%;
    height:1080px;
    overflow: hidden;
    position:relative;    
  
    svg {
        position:absolute;
        z-index:100;

        @include small-desktop  {
            margin-left:-20%;
        }

        @include large-laptop  {
            margin-left:-30%;
        }

        @include medium-laptop  {
            margin-left:-40%;
        }

        @include small-laptop  {
            margin-left:-50%;
        }

        @include large-phone  {
            margin-left:-10%;
            width:960px;
            height:540px;
        }    
        
        @include phone  {
            margin-left:-50%;
        }

        @include small-phone  {
            margin-left:-70%;
        }

        @include smaller-phone  {
            margin-left:-65%;
            width:768px;
            height:432px;
        }
        
    }

    @include large-phone  {
        height:540px;
    }    

    @include smaller-phone  {
        height:432px;
    }

}

.kaartImage {
    width:100%;

    @include small-desktop  {
        margin-left:-20%;
    }

    @include large-laptop  {
        margin-left:-30%;
    }
    
    @include medium-laptop  {
        margin-left:-40%;
    }
    
    @include small-laptop  {
        margin-left:-50%;
    }

    @include large-phone  {
        margin-left:-10%;        
        
        img {
            width:960px !important;
            height:540px !important;
        }
    }

    @include phone  {
        margin-left:-50%;
    }

    @include small-phone  {
        margin-left:-70%;
    }

    @include smaller-phone  {
        margin-left:-65%;

        img {
            width:768px !important;
            height:432px !important;
        }
    }


}

// TODO popover styles are in global.css. css modules and material ui don't play nice together. line 993

.marker {
    cursor: pointer;
    
    circle {
        r:29px;
        transition:r 1s ease, fill .5s ease;

        @include large-phone  {
            r:35px;
        }

        @include small-phone  {
            r:40px;
        }

        @include small-phone  {
            r:45px;
        }
    }

    path {
        transition:fill .5s ease;
    }

    &:hover {
        circle {
            r:35px;
            transition:r .5s ease, fill .5s ease;
            fill:$orange;
        }

        path {
            fill:$white;
            transition:fill .5s ease;
        }
    }

}