@import "../colors";
@import "../breakpoints";
@import "../typography";

.menu__bg {
    background:$blue;
    width:100vw;
    height:100vh;
    position:fixed;
    z-index:1000;
    overflow:hidden;
    transition: all .5s ease;
    
    .menu_close_btn {
        font-size:1.3rem;
        color:$white;
        //background:$white;
        border-radius:30px;
        padding:15px 40px;
        transition: background-color .5s ease, color .5s ease;
        position:absolute;
        right:20px;
        top:12px;
        cursor: pointer;
        z-index:1001;

        svg {
            margin-right:10px;
    
            path {
                fill:$white;
                transition: fill .5s ease;
            }
        }

        &:hover {
            background:$darkblue;
            transition: all .5s ease;
        }
        
    }

    .overlaynav {
        margin-top:10vh;

        .link {
            color:$white;
            text-decoration: none;
            font-size: 1.3rem;
            margin:20px $horizontal;
            display:block;

            &:hover {
                color:$orange;
            }
                                 
        }  

        .link_with_submenu {
            margin-left:0;
        }

        .submenu {
            margin-left:$horizontal;
        }
 
        
    }

    .socialnav {
        position:absolute;
        bottom:8vw;
        left:50%;
        margin-left:-98px;
        z-index:1;


        .link {
            margin-right:30px;

        }

    }
}