@import "colors";
@import "reset";
@import "typography";
@import "breakpoints";


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes arrowdown {
    0%      { opacity: 0; transform: translateY(-50px) }

    50%     { opacity: 1; transform: translateY(0) }

    100%    { opacity: 0; transform: translateY(50px) }
}

@keyframes flickerAnimation { 
    0%   { opacity:.3; }
    50%  { opacity:.7; }
    100% { opacity:.3; }
  }

  @keyframes flickerAnimationBlueBG { 
    0%   { opacity:.04; }
    50%  { opacity:.15; }
    100% { opacity:.04; }
  }


.hide_menu {
    display:none !important;
}



.ArrowDownIcon {
    left:50vw;
    display:block;
    position:absolute;
    bottom:18vh;
    animation: arrowdown 3s infinite;
    z-index:100;

    @include small-laptop  {
        display:none;
    }
    
}


// ---------- Google Maps ----------------------------------------------------------------------------

.tools {
    position: absolute;
    background:$white;
    padding:20px;
    z-index:10;
    margin:30px;

    button {
        font-weight:400;
        font-size:2rem;
        line-height:100%;
        color:$light-grey;
        border:0;
        padding:5px 15px;
        border-radius: 3px;
        border:1px solid $light-blue;
        background:$white;
        margin:10px;
    }
}

.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top:-25px;
   
    border-radius: 50%;
    border: 14px solid $orange;
    width: 22px;
    height: 22px;
    box-shadow: $shadow-grey;
    
    &:after {
        position: absolute;
        content: '';
        width: 0px;
        height: 0px;
        bottom: -38px;
        left: -12px;
        border: 12px solid transparent;
        border-top: 20px solid $orange;
      }
    
  }

  // TODO other popover styles are in kaart.module.css. css modules and material ui don't play nice together.

  .MuiPopover-paper {
      background:$blue !important;
      padding:2vw !important;
      color:$white !important;
      width:30vw !important;

      @include large-laptop  {
        padding:4vw !important;
        width:40vw !important;
      }

      @include large-phone  {
        width:60vw !important;
      }

      @include small-phone  {
        width:80vw !important;
        padding:8vw !important;
      }

      @include small-phone  {
        width:90vw !important;
      }

      h2 {
        font-size: 1.6rem !important;
        font-weight: 700 !important;
        margin-bottom:10px !important;
        }

    p {
        font-size: 1.4rem !important;
    }

  }


  

  .loading {
      width:100vw;
      height:100vh;
      background:$light-blue;
      color:$blue;
      display:flex;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;
  }